@import url('https://fonts.googleapis.com/css?family=Arsenal&display=swap');


body{
    font-family: "Arsenal" , sans-serif;
    margin: auto;
    height: 100%
    }



/*------------------------------------------------------------------navbar*/
.navbar-nav{
    display: inline-block;
    background-color:	#0ea7b5;
    padding: 0px;
    text-align: center;
} 


.nav-item{
    display: inline-block;
    color: #ffffff;
    padding: 5px; 
}

/*------------------------------------------------------------------header*/
.entireheader{
    background-color: #0ea7b5;
    height: 250px;
}

h1, h2{
    margin-left: 25px;
    margin-right: 25px;
}
    
.photo{
    background: url(../images/amccall.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    border: #ffffff solid;
    max-height: 100%;
    max-width: 165px;
}

.name-tagline-photo{
    height: 220px;
    padding: 20px;
}

.entireheader{
    height: 50%;
    padding-bottom: 20px;
    padding-top: 40px;
}

.name{
    color: #ffffff;
    font-size: 50px;
}

.tagline{
    color: #ffffff;
    font-size:22px;
}


/*------------------------------------------------------------------headings*/
.section-heading{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin: auto;
    height: 50px;
    width: 50%;
}

.expertise-heading{
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 20px;
}

.island-heading{
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}


.fullscreen{
    height: 100vh;
    width: 100%;
    
    

}


/*------------------------------------------------------------------expertise*/

#expertiseskills{
    background-color: #ffffff;
    margin-bottom: 150px;
}

.area{
    padding-top: 10px;
    padding-bottom: 20px;
    border: #0ea7b5 double;
}

.expertise-detail{
    text-align: center;
    padding-top: 40px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}


/*------------------------------------------------------------------skills*/


.skillbox{
        height: 100px; 
        background: #0ea7b5;
        padding-top: 20px;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        border-radius: 50%;
        width: 50%;
        margin: auto;
}

.skills{
    padding: 30px 50px 10px 50px;
}

.skills-detail{
    padding-top: 20px;
}

.icon{
    position: relative;
    top: 2px;
    padding: 2px;
    font-size: 14px;
}

.skillheader{
    text-align: center;
    height:30px;
}

/*------------------------------------------------------------------cv*/
.cv{
    padding-top: 30px;
    text-align: center;

}

.cv-detail{
    font-size: 24px;
    color: black;
}

/*------------------------------------------------------------------portfolio*/
#portfolio{
    background-color: #0ea7b5;
}

.portfoliolinks{
    padding-top: 40px;
    text-align: center;
}

.links{
    padding: 10px 30px 30px 30px;
    text-align: center;
    margin: auto;
}

.img-thumbnail{
    width: 90%;
}


/*------------------------------------------------------------------aspirations*/

.btn--term{
    background-color: #0ea7b5;
    border: #000000 solid; 
}

.aspirations{
    padding-top: 30px;
}
.card{
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.cardcontainer{
    padding-top: 20px;
    margin: 0px;
}

/*------------------------------------------------------------------further info*/ 
#furtherinfo{
    background-color: #ffffff;
}
.furtherinfo-detail{
    padding-top: 40px;
    text-align: center;
}

.icon2{
    font-size: 24px;
    display: inline-block;
    text-align: center;
    padding-bottom: 20px;
}

.table{
    padding: 40px;
    width: 80%;
    margin: auto;
    text-align: left;
    box-lines: #a2aaaf;
    }

.educationexperience{
    display: inline-block;
    text-align: center;
    padding-top: 30px;
}



/*------------------------------------------------------------------form*/
.modal-content{
    background-color:#e9eaec;
    border:#a2aaaf solid;
}

.btn--form{
    margin: 0 auto;
    display: block;
    text-align: center;
    font-size: 16px;
    }

/*------------------------------------------------------------------footer*/


.social-list{
    background-color:	#0ea7b5;
    text-align: center;
    padding: 10px;
    color: #ffffff;
}

.social-links a{
    color: #ffffff;
 font-size: 18px;
}



/*------------------------------------------------------------------media queries*/
@media(max-width: 768px){
 .section-heading{
    font-size: 24px;
    display: inline;
    text-align: center;
}

.expertise-heading{
    font-size: 16px;
}

h1, h2{
    text-align: center;
}

.nav-item{
    font-size: 12px;
}

.entireheader{
    padding-bottom: 40px;
}

.skillbox{
    font-size: 16px;
}
}
@media(max-width: 375px){
.photo{
display: none;
    }
