@import url('https://fonts.googleapis.com/css?family=Arsenal&display=swap');


body{
    font-family: "Arsenal" , sans-serif;
    margin: auto;
    height: 100%
    }



/*------------------------------------------------------------------navbar*/
.navbar-nav{
    display: inline-block;
    background-color:	#0ea7b5;
    padding: 0px;
    text-align: center;
} 


.nav-item{
    display: inline-block;
    color: #ffffff;
    padding: 5px;
    font-size: 16px;
}

/*------------------------------------------------------------------header*/
.entireheader{
    background-color: #0ea7b5;
    height: 50%;
    padding-bottom: 20px;
    padding-top: 40px;  
}
    
.photo{
    background: url(../images/amccall.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    border: #ffffff solid;
    max-height: 100%;
    max-width: 165px;
}

.name-tagline-photo{
    height: 220px;
    padding: 20px;
    color: #ffffff;      
}

.name{
    font-size: 50px;
    margin-left: 25px;
    margin-right: 25px;
}

.tagline{
    font-size:22px;
    margin-left: 25px;
    margin-right: 25px;
}


/*------------------------------------------------------------------headings*/
.section-heading{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin: auto;
    height: 50px;
    width: 50%;  
}

.sub-heading{
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 20px;
}

.fullscreen{
    height: 100vh; 
}


/*------------------------------------------------------------------expertise*/

#expertiseskills{
    margin-bottom: 20px;
    height: 100%; 
}


.area{
    padding-top: 10px;
    padding-bottom: 20px;
    border: #0ea7b5 double;
}

.expertise-detail{
    text-align: center;
    padding-top: 40px;
    background-color: #ffffff;  
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}


/*------------------------------------------------------------------skills*/
.skills{
    padding-top: 40px;
    padding-bottom: 0px;
    text-align: center;
    width: 75%;
}

.skillbox{
    background: #0ea7b5;
    padding: 20px 10px 20px 10px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 50%;
    margin-top: 20px;
    height: 100px;
    width: 100px
}

.icon{
    position: relative;
    top: 2px;
    padding: 2px;
    font-size: 14px;
}

.skillheader{
    text-align: center;
    height:30px;
}

/*------------------------------------------------------------------cv*/
.cv{
    padding-top: 30px;
    text-align: center;
}

.cv-detail{
    font-size: 18px;
    color: black;
}

/*------------------------------------------------------------------portfolio*/
#portfolio{
    background-color: #0ea7b5;
    height: 100%;
}

.portfoliolinks{
    padding-top: 40px;
    text-align: center; 
}

.links{
    padding: 0px 50px 30px 50px;
    text-align: center;  
}

.img-thumbnail{
    width: 80%;
}

/*------------------------------------------------------------------aspirations*/

.btn--style{
    background-color: #0ea7b5;
    border: #000000 solid 0.5px; 
}

.aspirations{
    padding-top: 20px;
    padding-bottom: 40px;
}

.card{
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.cardcontainer{
    padding-top: 20px;
    margin: 0px;
}

/*------------------------------------------------------------------further info*/ 
#furtherinfo{
    background-color: #ffffff;
    height: 100%;
    margin: auto;
    
}
.furtherinfo-detail{
    padding-top: 40px;
    text-align: center;
}

.icon2{
    font-size: 24px;
    text-align: center;
    padding-bottom: 20px;
}

.table{
    padding: 40px;
    width: 80%;
    margin: auto;
    text-align: left;     
}


.educationexperience{
    display: inline-block;
    text-align: center;
    padding-top: 30px;    
}

/*------------------------------------------------------------------form*/
.modal-content{
    background-color:#e9eaec;
    
}

.modal-header{
    border: none;
    padding-left: 10px;
}


.form-control{
    margin: 5px;
    display: inline-block;
    width: 95%;
}

.formcontent{
    padding-bottom: 10px;
}



/*------------------------------------------------------------------footer*/
.social-list{
    background-color:	#0ea7b5;
    text-align: center;
    padding: 10px;
    color: #ffffff;
}

.social-links a{
color: #ffffff;
font-size: 18px;
}

/*------------------------------------------------------------------media queries*/
@media(max-width: 767px){
 .section-heading{
    font-size: 24px;
    text-align: center;
}

.sub-heading{
    font-size: 16px;
}


.name-tagline{
    text-align: center;
}

.photo{
display: none;
}
}

