@import url('https://fonts.googleapis.com/css?family=Arsenal&display=swap');


/*------------------------------------------------------------------navbar*/
.navbar{
    display: inline-block;
    background-color: #6897BB;
    margin: auto;
    width: 100%;
}

.nav-item{
    display: inline-block;
    font-family: "Arsenal" , sans-serif;
    color: #fafafa;
    padding: 5px; 
}

.container-navbar{
    text-align: center;
}

/*------------------------------------------------------------------header*/
.entireheader{
    background-color: #6897BB;
    height: 250px;
}

h1, h2{
    margin-left: 25px;
    margin-right: 25px;
}
    
.photo{
    background: url(../images/amccall.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    border: white solid;
    max-height: 100%;
    max-width: 165px;
}

.name-tagline-photo{
    height: 200px;
    padding: 20px;
}

.entireheader{
    height: 50%;
    padding-bottom: 20px;
}

.name{
    font-family: "Arsenal" , sans-serif;
    color: #fafafa;
    font-size: 50px;
}

.tagline{
    font-family: "Arsenal" , sans-serif;
    color: #fafafa;
    font-size:22px;
}



/*------------------------------------------------------------------headings*/
.section-heading{
    font-family:  "Arsenal" ,sans-serif;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin: auto;
    height: 50px;
    width: 25%;
}

.expertise-heading{
    font-family:  "Arsenal" , sans-serif;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}

/*------------------------------------------------------------------expertise*/
.area{
    text-align: justify;
}

.expertisecontainer{
    background-color: #c6d6e4;
    padding-top: 15px;
    text-align: center;
}

.areacontainer{
    background-color: #c6d6e4;
    padding: 10px 40px 0px 40px;
}

/*------------------------------------------------------------------media queries*/
@media(max-width: 768px){
 .section-heading{
    font-size: 24px;
    display: inline;
}

.expertise-heading{
    font-size: 16px;
}

h1, h2{
    text-align: center;
}

.nav-item{
    font-size: 12px;
}

.entireheader{
    padding-bottom: 40px;
}
.photo{
    display: none;

}
}

